<br/>
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>项目基础信息</h5>
        <!--<h5>项目基础信息 <a><i class="fa fa-question-circle" tooltip-placement="right" uib-tooltip="{{'ProjectBasicInfo' | translate }}"></i></a></h5>-->
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-md-6">
                <form class="form-horizontal" name="basicInfo" enctype="multipart/form-data" action="" method="post">

                    <div class="form-group"><label class="col-lg-3 control-label">上传训练集<span style="color:red">*</span></label>
                        <div class="col-lg-9">
                            <!--<input type="text" ng-model="ctrlScope.projectName" name="projectName" class="form-control" ng-disabled="projectControl" required>-->
                            <input class="form-control" type="file" id="trainFile" name="sample" />

                        </div>
                    </div>

                    <div class="form-group"><label class="col-lg-3 control-label"></label>
                        <div class="col-lg-9">
                            <button class="ladda-button ladda-button-demo btn btn-primary btn-outline" data-style="expand-right" ng-onclick="training()">开始训练</button>
                        </div>
                    </div>
                </form>

                <form class="form-horizontal" name="basicInfo" enctype="multipart/form-data" action="http://localhost:7777/file" method="post">

                    <div class="form-group"><label class="col-lg-3 control-label">上传预测集<span style="color:red">*</span></label>
                        <div class="col-lg-9">
                            <!--<input type="text" ng-model="ctrlScope.projectName" name="projectName" class="form-control" ng-disabled="projectControl" required>-->
                            <input class="form-control" type="file" ng-model="selectedFile" name="sample" />

                        </div>
                    </div>

                    <div class="form-group"><label class="col-lg-3 control-label"></label>
                        <div class="col-lg-9">
                            <button type="submit" class="ladda-button ladda-button-demo btn btn-primary btn-outline" data-style="expand-right" ng-click="ok()">开始预测</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>